.darkMode {

    p, h1, h2, h3, h4, h5, h6 { 
        color: white;
    }

    input {
        background: $dark;
        color: white;
    }

    main {
        background: $darker;
    }

    hr {
        background: rgba(white, 0.25);
    }

    .bg-theme-light {
        background: $dark;
    }

    .bg-theme {
        background: $darker;
    }

    ::placeholder {
        color: white;
    }

    .material-icons {
        color: white;
    }

    .selected-indicator-bg {
        background: linear-gradient(to right, rgba(white, 0.1), transparent);
    }

    .selected-indicator {
        background: white;
    }

    .menu-button:hover {
        background: rgba(white, 0.1);
    }
}
