// include all element that require transition when toggling dark theme

input, button, span, label,
a, p, h1, h2, h3, h4, h5, h6,
.bg-theme,
.bg-theme-light,
.selected-indicator-bg,
.selected-indicator,
::placeholder {
    transition: all ease-in 100ms !important;
}

.darkMode {

    h1, h2, h3, h4, h5, h6, label,
    ::placeholder,
    .material-icons { 
        color: white;
    }

    p { 
        color: rgba(white, 0.75);
    }

    input {
        background: $dark;
        color: white;
    }

    hr {
        background: rgba(white, 0.25);
    }

    .bg-theme-light {
        background: $dark;
    }

    .bg-theme {
        background: $darker;
    }

    .selected-indicator-bg {
        background: linear-gradient(to right, rgba(white, 0.1), transparent);
    }

    .selected-indicator {
        background: white;
    }

    .menu-button:hover {
        background: rgba(white, 0.1);
    }
}
