.content {
	-webkit-app-region: no-drag;
	width: 100%;
	padding: 0 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.bezels {
	padding: 0px 40px 40px;
}

.noselect {
    user-select: none;
}

.btn-action,
.btn {
	user-select: none;
	text-transform: capitalize;
	width: auto;
	height: 38px;
	padding: 5px 20px;
	border-radius: 5px;
	background: none;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: 500;
    transition: all ease-in 75ms;
    color: white;
}

.btn-action,
.btn {
	span {		
		font-size: 10px;
		margin-left: 10px;
		transform: scale(1.75);
	}
}

.btn > span {
	color: $grey !important;
}

.btn-action:hover,
.btn:hover {
    opacity: 0.9;
}

.btn-action {
    background: $theme;
}

.btn {
	background: whitesmoke;
	color: $grey;
}

.bottom {
    position: absolute;
	bottom: 0;
}

.right {
	position: absolute;
	right: 0;
}

.large {
	width: 100%;
}

.error-msg {
	color: $red !important;
	font-weight: 500;
}

.invalid-input {
	border: 2px solid $red;
	color: $red !important;
}

.invalid-input::placeholder {
	color: $red !important;
}

.bg-theme-light {
	background: whitesmoke;
}

.bg-theme {
	background: white;
}

.disabled {
	pointer-events: none !important;
	opacity: 0.75 !important;
	user-select: none !important;
}

.loading-bar-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}