.content {
	-webkit-app-region: no-drag;
	width: 100%;
	padding: 0 20px;
	overflow-y: auto;
	overflow-x: hidden;
}

.bezels {
	padding: 0px 5% 5%;
}

.bg-theme-light,
.bg-theme-light-opposite {
	background: white;
}

.bg-theme-dark,
.bg-theme-dark-opposite {
	background: whitesmoke;
}

.noselect {
    user-select: none;
}

.noscroll {
	overflow: hidden;
	pointer-events: none;
}

.number {
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	font-size: 30px;
	font-weight: 700;
}

.btn-action,
.btn {
	user-select: none;
	text-transform: capitalize;
	width: auto;
	height: 38px;
	padding: 5px 20px;
	border-radius: 5px;
	background: none;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: 500;
    color: white;
}

.btn-icon,
.btn-icon-left,
.btn-icon-right {
	span {		
		font-size: 10px;
		transform: scale(1.75);
	}
}

.btn-icon {
	padding: 5px;
}

.btn-icon-left > span {
	margin-right: 10px;
}

.btn-icon-right > span {
	margin-left: 10px;
}

.btn > span {
	color: $grey !important;
}

.btn-action {
    background: $theme;
}

.btn {
	background: whitesmoke;
	color: $grey;
}

.bottom {
    position: absolute;
	bottom: 0;
}

.right {
	float: right;
}

.large {
	width: 100%;
}

.error-msg {
	color: $red !important;
	padding: 7.5px 30px;
	border-radius: 5px;
	background: rgba(red, 0.1);
}

.invalid-input {
	border: 2px solid $red;
	color: $red !important;
}

.invalid-input::placeholder {
	color: $red !important;
}

.disabled {
	pointer-events: none !important;
	opacity: 0.5 !important;
	user-select: none !important;
}

.horizontal-carousel {
	width: 100%;
	
	ul {
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}

	li {
		position: relative;
		display: inline-block;
	}
}

.selected-indicator {
	position: absolute;
	height: 100%;
	width: 5px;
	background: $theme;
}

.selected-indicator-bg {
	position: absolute;
	background: linear-gradient(to right, rgba($theme, 0.1), transparent);
	width: 100px;
	height: 100%;
	left: 0;
}

.cursor {
	cursor: pointer;
}

.placeholder {
	width: fit-content;
	height: fit-content;
	z-index: 0;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	background: whitesmoke !important;
	color: transparent !important;
}

.placeholder:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(100%);
	background: linear-gradient(0.25turn, transparent, white, transparent);
	animation: slide_bar 1000ms infinite;
}

@keyframes slide_bar {
	0% { transform: translateX(-100%); }
	100% { transform: translateX(100%); }
}