$darker: #171a21;
$dark: lighten($darker, 15%);
$grey: rgb(126, 126, 126);

$blue: #7790ff;
$red: #ff4640;
$green: #5cdb95;
$navy: #05386B;
$orange: #ffa600;
$yellow: #ffd95a;
$purple: #c57dff;
$pink: #fcdbff;
$link: #92acff;
$cold: #4b7299;
$salmon: #ff7d7d;

$theme: $red;