$lighter: rgb(80, 80, 80);
$light: #2a3d55;
$dark: #1b2838;
$darker: #171a21;

$dim: #969696;

$blue: #5077f8;
$red: #e3342f;
$green: #33cc61;
$orange: #ffa600;
$yellow: #ffc400;
$purple: #c57dff;
$pink: #f9bbff;
$link: #92acff;

$grey-lighter: #e7e7e7;
$grey: rgb(126, 126, 126);

$theme: $yellow;

