$darker: #171a21;
$dark: lighten($darker, 15%);
$grey: rgb(126, 126, 126);

$blue: #6085ff;
$red: #ff554f;
$green: #5cdb95;
$navy: #05386B;
$cold: #4b7299;
$orange: #ffa600;
$yellow: #ffd95a;
$purple: #c57dff;
$salmon: #ff7d7d;
$pink: #fcdbff;
$link: #92acff;

$theme: $blue;